# MariaDB / Roundcube
RC_DB_ROOT_PASSWORD=midori123
RC_DB_NAME=midori
RC_DB_USER=midori
RC_DB_PASSWORD=midori123

# Clave de cifrado de sesión Roundcube (exactamente 24 caracteres)
RC_DES_KEY=reprobados_clave_24chars!
