# MariaDB / Roundcube
RC_DB_ROOT_PASSWORD=root_secret_cambiame
RC_DB_NAME=roundcube
RC_DB_USER=roundcube
RC_DB_PASSWORD=rc_secret_cambiame

# Clave de cifrado de sesión Roundcube (exactamente 24 caracteres)
RC_DES_KEY=reprobados_clave_24chars!
